
!
! Last configuration change at 09:53:17 UTC Tue Jun 16 2026
!
version 15.2
service timestamps debug datetime msec
service timestamps log datetime msec
no service password-encryption
service compress-config
!
hostname EXT-L3-1
!
boot-start-marker
boot-end-marker
!
!
!
no aaa new-model
!
!
!
!
!
no ip icmp rate-limit unreachable
!
ip vrf TN-A
 rd 65100:1
!
ip vrf TN-B
 rd 65100:2
!
ip vrf TN-C
 rd 65100:3
!
!
!
no ip domain-lookup
ip cef
no ipv6 cef
!
!
!
spanning-tree mode pvst
spanning-tree extend system-id
!
!
! 
!
!
!
!
!
!
!
!
!
!
!
!
interface Loopback0
 no shutdown
 ip address 192.168.0.51 255.255.255.255
!
interface Ethernet0/0
 no shutdown
 switchport trunk allowed vlan 901-903
 switchport trunk encapsulation dot1q
 switchport mode trunk
!
interface Ethernet0/1
 no shutdown
 switchport trunk allowed vlan 11-13
 switchport trunk encapsulation dot1q
 switchport mode trunk
!
interface Ethernet0/2
 no shutdown
 switchport trunk allowed vlan 11-13
 switchport trunk encapsulation dot1q
 switchport mode trunk
!
interface Ethernet0/3
 no shutdown
!
interface Vlan11
 no shutdown
 ip vrf forwarding TN-A
 ip address 172.31.10.1 255.255.255.248
!
interface Vlan12
 no shutdown
 ip vrf forwarding TN-B
 ip address 172.31.20.1 255.255.255.248
!
interface Vlan13
 no shutdown
 ip vrf forwarding TN-C
 ip address 172.31.30.1 255.255.255.248
!
interface Vlan901
 no shutdown
 ip vrf forwarding TN-A
 ip address 172.31.0.2 255.255.255.248
!
interface Vlan902
 no shutdown
 ip vrf forwarding TN-B
 ip address 172.31.0.10 255.255.255.248
!
interface Vlan903
 no shutdown
 ip vrf forwarding TN-C
 ip address 172.31.0.18 255.255.255.248
!
router bgp 65100
 bgp log-neighbor-changes
 !
 address-family ipv4 vrf TN-A
  redistribute static
  neighbor 172.31.0.1 remote-as 65000
  neighbor 172.31.0.1 activate
  default-information originate
 exit-address-family
 !
 address-family ipv4 vrf TN-B
  redistribute static
  neighbor 172.31.0.9 remote-as 65000
  neighbor 172.31.0.9 activate
  default-information originate
 exit-address-family
 !
 address-family ipv4 vrf TN-C
  redistribute static
  neighbor 172.31.0.17 remote-as 65000
  neighbor 172.31.0.17 activate
  default-information originate
 exit-address-family
!
ip forward-protocol nd
!
ip tcp synwait-time 5
ip http server
ip http secure-server
!
ip route vrf TN-A 0.0.0.0 0.0.0.0 172.31.10.2
ip route vrf TN-B 0.0.0.0 0.0.0.0 172.31.20.2
ip route vrf TN-C 0.0.0.0 0.0.0.0 172.31.30.2
ip ssh server algorithm encryption aes128-ctr aes192-ctr aes256-ctr
ip ssh client algorithm encryption aes128-ctr aes192-ctr aes256-ctr
!
!
!
!
!
control-plane
!
!
line con 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
line aux 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
line vty 0 4
 login
!
!
!
end
