
!
! Last configuration change at 05:30:05 UTC Wed Jun 17 2026
!
version 15.4
service timestamps debug datetime msec
service timestamps log datetime msec
no service password-encryption
!
hostname EXT-R
!
boot-start-marker
boot-end-marker
!
!
!
no aaa new-model
mmi polling-interval 60
no mmi auto-configure
no mmi pvc
mmi snmp-timeout 180
no ip icmp rate-limit unreachable
!
!
!
!
!
!
!
!


!
ip vrf MGMT
!
ip vrf TN-A
 rd 65100:1
!
ip vrf TN-B
 rd 65100:2
!
ip vrf TN-C
 rd 65100:3
!
!
!
!
no ip domain lookup
ip domain name rapa.or.kr
ip cef
no ipv6 cef
!
multilink bundle-name authenticated
!
!
!
!
!
!
!
!
!
username admin privilege 15 secret 5 $1$/RMi$S3ThfbrWzTiGKHwu6GaCp0
!
redundancy
!
no cdp log mismatch duplex
!
ip tcp synwait-time 5
ip ssh version 2
!
!
!
!
!
!
!
!
!
!
!
!
!
interface Loopback0
 no shutdown
 ip address 192.168.0.51 255.255.255.255
!
interface Ethernet0/0
 no shutdown
 no ip address
!
interface Ethernet0/0.901
 no shutdown
 encapsulation dot1Q 901
 ip vrf forwarding TN-A
 ip address 172.31.0.2 255.255.255.248
 ip nat inside
 ip virtual-reassembly in
!
interface Ethernet0/0.902
 no shutdown
 encapsulation dot1Q 902
 ip vrf forwarding TN-B
 ip address 172.31.0.10 255.255.255.248
 ip nat inside
 ip virtual-reassembly in
!
interface Ethernet0/0.903
 no shutdown
 encapsulation dot1Q 903
 ip vrf forwarding TN-C
 ip address 172.31.0.18 255.255.255.248
 ip nat inside
 ip virtual-reassembly in
!
interface Ethernet0/1
 no shutdown
 ip address 121.160.1.2 255.255.255.0
 ip nat outside
 ip virtual-reassembly in
!
interface Ethernet0/2
 no shutdown
 no ip address
!
interface Ethernet0/3
 no shutdown
 ip vrf forwarding MGMT
 ip address 10.1.2.28 255.255.255.0
!
router bgp 65100
 bgp log-neighbor-changes
 !
 address-family ipv4 vrf TN-A
  neighbor 172.31.0.1 remote-as 65000
  neighbor 172.31.0.1 activate
  default-information originate
 exit-address-family
 !
 address-family ipv4 vrf TN-B
  neighbor 172.31.0.9 remote-as 65000
  neighbor 172.31.0.9 activate
  default-information originate
 exit-address-family
 !
 address-family ipv4 vrf TN-C
  neighbor 172.31.0.17 remote-as 65000
  neighbor 172.31.0.17 activate
  default-information originate
 exit-address-family
!
ip forward-protocol nd
!
!
no ip http server
no ip http secure-server
!
snmp-server community CYNK-TECH RO
snmp-server location NAVIS
snmp-server contact admin
ntp server vrf MGMT 192.168.0.203
ip nat inside source static 10.10.10.15 121.160.1.10 vrf TN-A
ip nat inside source static 10.10.20.15 121.160.1.20 vrf TN-A
ip route 8.8.8.8 255.255.255.255 121.160.1.1
ip route 10.10.0.0 255.255.0.0 Ethernet0/0.901
ip route vrf TN-A 0.0.0.0 0.0.0.0 121.160.1.1 global
ip route vrf TN-B 0.0.0.0 0.0.0.0 121.160.1.1 global
ip route vrf TN-C 0.0.0.0 0.0.0.0 121.160.1.1 global
ip route vrf MGMT 0.0.0.0 0.0.0.0 10.1.2.254
!
!
!
!
control-plane
!
!
!
!
!
!
!
!
line con 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
line aux 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
line vty 0 4
 login local
 transport input ssh
!
!
end
