
!
! Last configuration change at 05:25:08 UTC Wed Jun 17 2026
!
version 15.4
service timestamps debug datetime msec
service timestamps log datetime msec
no service password-encryption
!
hostname ISP-R
!
boot-start-marker
boot-end-marker
!
!
!
no aaa new-model
mmi polling-interval 60
no mmi auto-configure
no mmi pvc
mmi snmp-timeout 180
no ip icmp rate-limit unreachable
!
!
!
!
!
!
!
!


!
!
!
!
no ip domain lookup
ip cef
no ipv6 cef
!
multilink bundle-name authenticated
!
!
!
!
!
!
!
!
!
redundancy
!
no cdp log mismatch duplex
!
ip tcp synwait-time 5
! 
!
!
!
!
!
!
!
!
!
!
!
!
interface Loopback0
 no shutdown
 ip address 8.8.8.8 255.255.255.255
!
interface Ethernet0/0
 no shutdown
 ip address 121.160.1.1 255.255.255.0
!
interface Ethernet0/1
 no shutdown
 no ip address
!
interface Ethernet0/2
 no shutdown
 no ip address
!
interface Ethernet0/3
 no shutdown
 no ip address
!
interface Ethernet1/0
 no shutdown
 no ip address
!
interface Ethernet1/1
 no shutdown
 no ip address
!
interface Ethernet1/2
 no shutdown
 no ip address
!
interface Ethernet1/3
 no shutdown
 no ip address
!
ip forward-protocol nd
!
!
no ip http server
no ip http secure-server
!
!
!
!
control-plane
!
!
!
!
!
!
!
!
line con 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
line aux 0
 exec-timeout 0 0
 privilege level 15
 logging synchronous
line vty 0 4
 login
 transport input none
!
!
end
