

!Command: show running-config
!Running configuration last done at: Mon Jun 15 06:27:11 2026
!Time: Mon Jun 15 06:27:16 2026

version 10.2(4) Bios:version
switchname FB-2-LF-2-2
vdc FB-2-LF-2-2 id 1
  limit-resource vlan minimum 16 maximum 4094
  limit-resource vrf minimum 2 maximum 4096
  limit-resource port-channel minimum 0 maximum 511
  limit-resource m4route-mem minimum 58 maximum 58
  limit-resource m6route-mem minimum 8 maximum 8

cfs eth distribute
nv overlay evpn
feature ospf
feature bgp
feature pim
feature interface-vlan
feature vn-segment-vlan-based
feature lacp
feature vpc
feature nv overlay

no password strength-check
username admin password 5 $5$OIJBEC$DNSFloCguSfbjHxUzg5VCvSBg7j5XjKsgwEVndgHpCA  role network-admin
ip domain-lookup
copp profile strict
snmp-server user admin network-admin auth md5 532162EFC61BCB5D2EB7BE8C90C6C4D76DA0 priv aes-128 495606825DD613D8B02C7619582C4D73BC33 localizedV2key
rmon event 1 log trap public description FATAL(1) owner PMON@FATAL
rmon event 2 log trap public description CRITICAL(2) owner PMON@CRITICAL
rmon event 3 log trap public description ERROR(3) owner PMON@ERROR
rmon event 4 log trap public description WARNING(4) owner PMON@WARNING
rmon event 5 log trap public description INFORMATION(5) owner PMON@INFO
ntp server 192.168.0.203 use-vrf default

fabric forwarding anycast-gateway-mac 0000.2222.3333
ip pim rp-address 192.168.0.254 group-list 224.0.0.0/4
ip pim ssm range 232.0.0.0/8
vlan 1,110,120,130,190,210,220,230,310,320,330,3001-3003
vlan 110
  name TN-A_WEB
  vn-segment 10110
vlan 120
  name TN-A_WAS
  vn-segment 10120
vlan 130
  name TN-A_DB
  vn-segment 10130
vlan 190
  name TN-A_MGMT
  vn-segment 10190
vlan 210
  name TN-B_PROD
  vn-segment 10210
vlan 220
  name TN-B_DEV
  vn-segment 10220
vlan 230
  name TN-B_MGMT
  vn-segment 10230
vlan 310
  name TN-C_SVC
  vn-segment 10310
vlan 320
  name TN-C_B2B
  vn-segment 10320
vlan 330
  name TN-C_MGMT
  vn-segment 10330
vlan 3001
  name L3VNI_TN-A
  vn-segment 50001
vlan 3002
  name L3VNI_TN-B
  vn-segment 50002
vlan 3003
  name L3VNI_TN-C
  vn-segment 50003

spanning-tree port type network default
vrf context TN-A
  vni 50001
  rd auto
  address-family ipv4 unicast
    route-target both auto evpn
vrf context TN-B
  vni 50002
  rd auto
  address-family ipv4 unicast
    route-target both auto evpn
vrf context TN-C
  vni 50003
  rd auto
  address-family ipv4 unicast
    route-target both auto evpn
vrf context management
  ip route 0.0.0.0/0 10.1.2.254
vrf context vpc-keepalive
vpc domain 20
  peer-keepalive destination 192.168.101.1 source 192.168.101.2 vrf vpc-keepalive
  peer-gateway
  auto-recovery
  ip arp synchronize


interface Vlan1
  no ip redirects
  no ipv6 redirects

interface Vlan110
  no shutdown
  vrf member TN-A
  no ip redirects
  ip address 10.10.10.1/24
  no ipv6 redirects
  fabric forwarding mode anycast-gateway

interface Vlan120
  no shutdown
  vrf member TN-A
  no ip redirects
  ip address 10.10.20.1/24
  no ipv6 redirects
  fabric forwarding mode anycast-gateway

interface Vlan130
  no shutdown
  vrf member TN-A
  no ip redirects
  ip address 10.10.30.1/24
  no ipv6 redirects
  fabric forwarding mode anycast-gateway

interface Vlan190
  no shutdown
  vrf member TN-A
  no ip redirects
  ip address 10.10.90.1/24
  no ipv6 redirects
  fabric forwarding mode anycast-gateway

interface Vlan210
  no shutdown
  vrf member TN-B
  no ip redirects
  ip address 10.10.10.1/24
  no ipv6 redirects
  fabric forwarding mode anycast-gateway

interface Vlan220
  no shutdown
  vrf member TN-B
  no ip redirects
  ip address 10.10.20.1/24
  no ipv6 redirects
  fabric forwarding mode anycast-gateway

interface Vlan230
  no shutdown
  vrf member TN-B
  no ip redirects
  ip address 10.10.30.1/24
  no ipv6 redirects
  fabric forwarding mode anycast-gateway

interface Vlan310
  no shutdown
  vrf member TN-C
  no ip redirects
  ip address 10.10.10.1/24
  no ipv6 redirects
  fabric forwarding mode anycast-gateway

interface Vlan320
  no shutdown
  vrf member TN-C
  no ip redirects
  ip address 10.10.20.1/24
  no ipv6 redirects
  fabric forwarding mode anycast-gateway

interface Vlan330
  no shutdown
  vrf member TN-C
  no ip redirects
  ip address 10.10.30.1/24
  no ipv6 redirects
  fabric forwarding mode anycast-gateway

interface Vlan3001
  no shutdown
  vrf member TN-A
  no ip redirects
  ip forward
  no ipv6 redirects

interface Vlan3002
  no shutdown
  vrf member TN-B
  no ip redirects
  ip forward
  no ipv6 redirects

interface Vlan3003
  no shutdown
  vrf member TN-C
  no ip redirects
  ip forward
  no ipv6 redirects

interface port-channel21
  switchport mode trunk
  spanning-tree port type network
  vpc peer-link

interface port-channel22
  switchport mode trunk
  switchport trunk allowed vlan 110,120,130,190,210,220,230,310,320,330,3001-3003
  spanning-tree port type normal
  vpc 20

interface nve1
  no shutdown
  host-reachability protocol bgp
  source-interface loopback10
  member vni 10110
    mcast-group 239.0.0.110
  member vni 10120
    mcast-group 239.0.0.120
  member vni 10130
    mcast-group 239.0.0.130
  member vni 10190
    mcast-group 239.0.0.190
  member vni 10210
    ingress-replication protocol bgp
  member vni 10220
    ingress-replication protocol bgp
  member vni 10230
    ingress-replication protocol bgp
  member vni 10310
    ingress-replication protocol bgp
  member vni 10320
    ingress-replication protocol bgp
  member vni 10330
    ingress-replication protocol bgp
  member vni 50001 associate-vrf
  member vni 50002 associate-vrf
  member vni 50003 associate-vrf

interface Ethernet1/1
  description FB-2-SP-1 E1/4
  no switchport
  mtu 9216
  ip address 10.1.34.2/30
  ipv6 address use-link-local-only
  ip ospf network point-to-point
  ip router ospf 1 area 0.0.0.2
  ip pim sparse-mode
  no shutdown

interface Ethernet1/2
  description FB-2-SP-2 E1/4
  no switchport
  mtu 9216
  ip address 10.1.44.2/30
  ipv6 address use-link-local-only
  ip ospf network point-to-point
  ip router ospf 1 area 0.0.0.2
  ip pim sparse-mode
  no shutdown

interface Ethernet1/3
  switchport mode trunk
  channel-group 22 mode active

interface Ethernet1/4
  switchport mode trunk
  channel-group 21 mode active

interface Ethernet1/5
  switchport mode trunk
  channel-group 21 mode active

interface Ethernet1/6
  no switchport
  ipv6 address use-link-local-only

interface Ethernet1/7
  description vpc-keepalive
  no switchport
  vrf member vpc-keepalive
  ip address 192.168.101.2/30
  no shutdown

interface Ethernet1/8
  no switchport
  ipv6 address use-link-local-only

interface Ethernet1/9
  no switchport
  ipv6 address use-link-local-only

interface Ethernet1/10
  no switchport
  ipv6 address use-link-local-only

interface Ethernet1/11
  no switchport
  ipv6 address use-link-local-only

interface Ethernet1/12
  no switchport

interface Ethernet1/13
  no switchport

interface Ethernet1/14
  no switchport

interface Ethernet1/15
  no switchport

interface Ethernet1/16
  no switchport

interface Ethernet1/17
  no switchport

interface Ethernet1/18
  no switchport

interface Ethernet1/19
  no switchport

interface Ethernet1/20
  no switchport

interface Ethernet1/21
  no switchport

interface Ethernet1/22
  no switchport

interface Ethernet1/23
  no switchport

interface Ethernet1/24
  no switchport

interface Ethernet1/25
  no switchport

interface Ethernet1/26
  no switchport

interface Ethernet1/27
  no switchport

interface Ethernet1/28
  no switchport

interface Ethernet1/29
  no switchport

interface Ethernet1/30
  no switchport

interface Ethernet1/31
  no switchport

interface Ethernet1/32
  no switchport

interface Ethernet1/33
  no switchport

interface Ethernet1/34
  no switchport

interface Ethernet1/35
  no switchport

interface Ethernet1/36
  no switchport

interface Ethernet1/37
  no switchport

interface Ethernet1/38
  no switchport

interface Ethernet1/39
  no switchport

interface Ethernet1/40
  no switchport

interface Ethernet1/41
  no switchport

interface Ethernet1/42
  no switchport

interface Ethernet1/43
  no switchport

interface Ethernet1/44
  no switchport

interface Ethernet1/45
  no switchport

interface Ethernet1/46
  no switchport

interface Ethernet1/47
  no switchport

interface Ethernet1/48
  no switchport

interface Ethernet1/49
  no switchport

interface Ethernet1/50
  no switchport

interface Ethernet1/51
  no switchport

interface Ethernet1/52
  no switchport

interface Ethernet1/53
  no switchport

interface Ethernet1/54
  no switchport

interface Ethernet1/55
  no switchport

interface Ethernet1/56
  no switchport

interface Ethernet1/57
  no switchport

interface Ethernet1/58
  no switchport

interface Ethernet1/59
  no switchport

interface Ethernet1/60
  no switchport

interface Ethernet1/61
  no switchport

interface Ethernet1/62
  no switchport

interface Ethernet1/63
  no switchport

interface Ethernet1/64
  no switchport

interface mgmt0
  vrf member management
  ip address 10.1.2.26/24
  ipv6 address use-link-local-only

interface loopback0
  ip address 192.168.0.44/32
  ip ospf network point-to-point
  ip router ospf 1 area 0.0.0.2

interface loopback10
  ip address 192.168.0.152/32
  ip address 192.168.0.153/32 secondary
icam monitor scale

line console
line vty
boot nxos bootflash:/nxos64-cs.10.2.4.M.bin
router ospf 1
router bgp 65000
  template peer SPINE-PEER
    remote-as 65000
    update-source loopback0
    address-family l2vpn evpn
      send-community extended
  neighbor 192.168.0.21
    inherit peer SPINE-PEER
  neighbor 192.168.0.22
    inherit peer SPINE-PEER
  vrf TN-A
    address-family ipv4 unicast
      advertise l2vpn evpn
  vrf TN-B
    address-family ipv4 unicast
      advertise l2vpn evpn
  vrf TN-C
    address-family ipv4 unicast
      advertise l2vpn evpn
evpn
  vni 10110 l2
    rd auto
    route-target import auto
    route-target export auto
  vni 10120 l2
    rd auto
    route-target import auto
    route-target export auto
  vni 10130 l2
    rd auto
    route-target import auto
    route-target export auto
  vni 10190 l2
    rd auto
    route-target import auto
    route-target export auto
  vni 10210 l2
    rd auto
    route-target import auto
    route-target export auto
  vni 10220 l2
    rd auto
    route-target import auto
    route-target export auto
  vni 10230 l2
    rd auto
    route-target import auto
    route-target export auto
  vni 10310 l2
    rd auto
    route-target import auto
    route-target export auto
  vni 10320 l2
    rd auto
    route-target import auto
    route-target export auto
  vni 10330 l2
    rd auto
    route-target import auto
    route-target export auto


!


!end
