!Command: show running-config
!Running configuration last done at: Mon Jun 15 01:20:15 2026
!Time: Mon Jun 15 01:20:16 2026

version 10.2(4) Bios:version  
switchname FB-2-SP-2
vdc FB-2-SP-2 id 1
  limit-resource vlan minimum 16 maximum 4094
  limit-resource vrf minimum 2 maximum 4096
  limit-resource port-channel minimum 0 maximum 511
  limit-resource m4route-mem minimum 58 maximum 58
  limit-resource m6route-mem minimum 8 maximum 8

nv overlay evpn
feature ospf
feature bgp
feature pim
feature nv overlay

no password strength-check
username admin password 5 $5$ANFFLJ$hkL47HM.itKXuyCB9As09WqnYMNESTcef/jRGrcQ3w.  role network-admin
ip domain-lookup
copp profile strict
snmp-server user admin network-admin auth md5 366B680C9765D93422FCE17571DA4BDFDCD4 priv aes-128 330C64429318D1602AE9E94476911CCEF0B9 localizedV2key
snmp-server community CYNK-TECH group network-operator
rmon event 1 log trap public description FATAL(1) owner PMON@FATAL
rmon event 2 log trap public description CRITICAL(2) owner PMON@CRITICAL
rmon event 3 log trap public description ERROR(3) owner PMON@ERROR
rmon event 4 log trap public description WARNING(4) owner PMON@WARNING
rmon event 5 log trap public description INFORMATION(5) owner PMON@INFO
ntp server 192.168.0.203 use-vrf default

ip pim rp-address 192.168.0.254 group-list 224.0.0.0/4
ip pim ssm range 232.0.0.0/8
vlan 1

vrf context management
  ip route 0.0.0.0/0 10.1.2.254

interface Ethernet1/1
  description FB-2-LF-1-1 E1/2
  no switchport
  mtu 9216
  ip address 10.1.41.1/30
  ipv6 address use-link-local-only
  ip ospf network point-to-point
  ip router ospf 1 area 0.0.0.2
  ip pim sparse-mode
  no shutdown

interface Ethernet1/2
  description FB-2-LF-1-2 E1/2
  no switchport
  mtu 9216
  ip address 10.1.42.1/30
  ipv6 address use-link-local-only
  ip ospf network point-to-point
  ip router ospf 1 area 0.0.0.2
  ip pim sparse-mode
  no shutdown

interface Ethernet1/3
  description FB-2-LF-2-1 E1/2
  no switchport
  mtu 9216
  ip address 10.1.43.1/30
  ipv6 address use-link-local-only
  ip ospf network point-to-point
  ip router ospf 1 area 0.0.0.2
  ip pim sparse-mode
  no shutdown

interface Ethernet1/4
  description FB-2-LF-2-2 E1/2
  no switchport
  mtu 9216
  ip address 10.1.44.1/30
  ipv6 address use-link-local-only
  ip ospf network point-to-point
  ip router ospf 1 area 0.0.0.2
  ip pim sparse-mode
  no shutdown

interface Ethernet1/5
  description FB-2-BLF-1 E1/2
  no switchport
  mtu 9216
  ip address 10.1.45.1/30
  ipv6 address use-link-local-only
  ip ospf network point-to-point
  ip router ospf 1 area 0.0.0.2
  ip pim sparse-mode
  no shutdown

interface Ethernet1/6
  description SSP-1 E1/4
  no switchport
  mtu 9216
  ip address 10.1.4.2/30
  ipv6 address use-link-local-only
  ip ospf network point-to-point
  ip router ospf 1 area 0.0.0.0
  ip pim sparse-mode
  no shutdown

interface Ethernet1/7
  description SSP-2 E1/4
  no switchport
  mtu 9216
  ip address 10.1.8.2/30
  ipv6 address use-link-local-only
  ip ospf network point-to-point
  ip router ospf 1 area 0.0.0.0
  ip pim sparse-mode
  no shutdown

interface Ethernet1/8
  no switchport
  ipv6 address use-link-local-only

interface Ethernet1/9
  no switchport
  ipv6 address use-link-local-only

interface Ethernet1/10
  no switchport
  ipv6 address use-link-local-only

interface Ethernet1/11
  no switchport
  ipv6 address use-link-local-only

interface Ethernet1/12
  no switchport

interface Ethernet1/13
  no switchport

interface Ethernet1/14
  no switchport

interface Ethernet1/15
  no switchport

interface Ethernet1/16
  no switchport

interface Ethernet1/17
  no switchport

interface Ethernet1/18
  no switchport

interface Ethernet1/19
  no switchport

interface Ethernet1/20
  no switchport

interface Ethernet1/21
  no switchport

interface Ethernet1/22
  no switchport

interface Ethernet1/23
  no switchport

interface Ethernet1/24
  no switchport

interface Ethernet1/25
  no switchport

interface Ethernet1/26
  no switchport

interface Ethernet1/27
  no switchport

interface Ethernet1/28
  no switchport

interface Ethernet1/29
  no switchport

interface Ethernet1/30
  no switchport

interface Ethernet1/31
  no switchport

interface Ethernet1/32
  no switchport

interface Ethernet1/33
  no switchport

interface Ethernet1/34
  no switchport

interface Ethernet1/35
  no switchport

interface Ethernet1/36
  no switchport

interface Ethernet1/37
  no switchport

interface Ethernet1/38
  no switchport

interface Ethernet1/39
  no switchport

interface Ethernet1/40
  no switchport

interface Ethernet1/41
  no switchport

interface Ethernet1/42
  no switchport

interface Ethernet1/43
  no switchport

interface Ethernet1/44
  no switchport

interface Ethernet1/45
  no switchport

interface Ethernet1/46
  no switchport

interface Ethernet1/47
  no switchport

interface Ethernet1/48
  no switchport

interface Ethernet1/49
  no switchport

interface Ethernet1/50
  no switchport

interface Ethernet1/51
  no switchport

interface Ethernet1/52
  no switchport

interface Ethernet1/53
  no switchport

interface Ethernet1/54
  no switchport

interface Ethernet1/55
  no switchport

interface Ethernet1/56
  no switchport

interface Ethernet1/57
  no switchport

interface Ethernet1/58
  no switchport

interface Ethernet1/59
  no switchport

interface Ethernet1/60
  no switchport

interface Ethernet1/61
  no switchport

interface Ethernet1/62
  no switchport

interface Ethernet1/63
  no switchport

interface Ethernet1/64
  no switchport

interface mgmt0
  vrf member management
  ip address 10.1.2.22/24
  ipv6 address use-link-local-only

interface loopback0
  ip address 192.168.0.22/32
  ip ospf network point-to-point
  ip router ospf 1 area 0.0.0.0
icam monitor scale

line console
line vty
boot nxos bootflash:/nxos64-cs-lite.10.6.3.F.bin 
router ospf 1
router bgp 65000
  router-id 192.168.0.22
  neighbor 192.168.0.1
    remote-as 65000
    update-source loopback0
    address-family l2vpn evpn
      send-community
      send-community extended
  neighbor 192.168.0.2
    remote-as 65000
    update-source loopback0
    address-family l2vpn evpn
      send-community
      send-community extended
  neighbor 192.168.0.41
    remote-as 65000
    update-source loopback0
    address-family l2vpn evpn
      send-community
      send-community extended
      route-reflector-client
  neighbor 192.168.0.42
    remote-as 65000
    update-source loopback0
    address-family l2vpn evpn
      send-community
      send-community extended
      route-reflector-client
  neighbor 192.168.0.43
    remote-as 65000
    update-source loopback0
    address-family l2vpn evpn
      send-community
      send-community extended
      route-reflector-client
  neighbor 192.168.0.44
    remote-as 65000
    update-source loopback0
    address-family l2vpn evpn
      send-community
      send-community extended
      route-reflector-client
  neighbor 192.168.0.45
    remote-as 65000
    update-source loopback0
    address-family l2vpn evpn
      send-community
      send-community extended
      route-reflector-client


!


!end